<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Event Manage Page</title>
</head>
<body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/news/event_mange/">Guest Manage System</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">发布会</a> </li>
                    <li ><a href="/news/guest_manage/">嘉宾</a> </li>
                </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a>hello {{ user }} </a></li>
                <li><a href='/logout/'>退出</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="page-header" style="padding-top: 60px">
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form" method="get" action="/news/search_name/">
                <div class="form-group">
                    <input name="name" type="text" placeholder="name" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">search</button>
            </form>
        </div>
    </div>


    <div class="row" style="padding-top: 20px;">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th><th>name</th><th>status</th><th>address</th><th>time</th><th>签到</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.status }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.start_time }}</td>
                    <td>
                        <a href="/news/sign_index/{{ event.id }}" target="{{ event.id }}_blank">sign</a>
                    </td>
                </tr>

                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</body>
</html>